{{ define "main" }}

<div class="overlay">
    {{ .Content }}
</div>
<hr/>

<section class="social-icons">
    <ul class="social-icons-list">
        
        <li class="social-icon">
            <a href="https://twitter.com/thisiscalvin_" >
                <img class="svg-inject" src="/svg/icons/twitter.svg" />
            </a>
        </li>
        
        <li class="social-icon">
            <a href=" https://www.linkedin.com/in/calvinjoji" >
                <img class="svg-inject" src="/svg/icons/linkedin.svg" />
            </a>
        </li>
        
        
        <li class="social-icon">
            <a href="mailto:calvinjojis@gmail.com" >
                <img class="svg-inject" src="/svg/icons/email.svg" />
            </a>
        </li>
        
    </ul>
</section>

{{ end }}
